@charset "UTF-8";
/*****
■CSSのルール
1. 必ず{}で囲うこと
2. プロパティ（color,font-sizeなど）は必ず: ;で囲うこと
3. HTMLでidを指定した場合は#、classを指定した.で適用すること
4. id名・class名の書き方に縛りはないが
　「cake-shop」のように-でわかりやすい言葉をつなげるか
　「cakeShop」のように2単語目の始めを大文字にしてあげるパターンが主流です。
*****/



/*****
■共通パーツ
HTMLの要素単体であったり、よく使い回すレイアウトを簡単に反映できるよう、
共通のスタイル設定をしてパーツ化します。
*****/

html {
  font-size: 16px;
  /* font-size:文字サイズ */
}

body {
  color: #624649;
  /* color:文字色 */
  font-size: 1rem;
  font-family: "YuGothic", Yu Gothic, sans-serif;
  /* font-family:文字のスタイル */
}

ul,
li,
ol {
  list-style-type: none;
  /* list-style-type:リスト要素の際に出てくる「・」など */
}

a {
  text-decoration: none;
  /* text-decoration:テキストのデコレーション（下線とか） */
  transition: 0.6s;
  /* transition:cssが反映される時間（ゆっくり色を変えるなどに使用）; */
}

a:hover {
  transition: 0.6s;
}

/* section {
  padding-top: 80px;
  padding-bottom: 80px;
  ※この部分を削除して↓に書き換える
} */

#concept,
#feature,
#thought,
#cakelife,
#lineup,
#package,
#store,
#contact {
  padding: 80px 0;
  /* ① */
}


.container {
  max-width: 1024px;
  /* max-width:最大横幅 */
  width: 90%;
  /* width:横幅 */
  margin: 0 auto;
}

h1 {
  font-family: 'Prata', cursive;
  font-size: 4rem;
  letter-spacing: 10px;
  /* letter-spacing:文字間 */
  color: #fff;
  font-weight: normal;
  /* font-weight:文字の太さ */
  text-shadow: 0px 0px 2px #fff;
  /* text-shadow:文字の影 */
  filter: drop-shadow(2px 1px 2px #fff);
  /* filter:ぼかしや色変化など */
}

h2 {
  font-size: 3rem;
  margin-bottom: -5px;
  font-family: 'Prata', cursive;
  font-weight: normal;
  letter-spacing: 4px;
  color: #f63001;
}

.ja-title {
  font-size: 1rem;
  color: #f63001;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.about-text {
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.box-design {
  background-color: #fff;
}

.feature-wrapper,
.life-wrapper,
.lineup-wrapper,
.package-wrapper,
.store-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  border-style: solid;
  height: 28px;
}

select::-ms-expand {
  display: block;
}

/*** グローバルナビゲーション ***/
.g-navi {
  position: absolute;
  /* position:要素の配置方法 */
  background-color: #f63001;
  /* background-color:背景色 */
  width: 100%;
}

.g-navi ul {
  display: flex;
  /* display:要素の表示方法 */
  flex-wrap: nowrap;
  /* flex-wrap:flex要素の折り返し */
  justify-content: space-around;
  /* justify-content:flex要素の横位置設定 */
  align-items: center;
  /* align-items:flex要素の縦位置設定 */
}

.g-navi ul li {
  flex-basis: 16.6%;
  /* flex-basis:flex子要素の横幅 */
  text-align: center;
}

.g-navi ul li a {
  display: block;
  color: #fff;
  padding: 20px 0;
  /* padding:内側の余白設定 */
}

/* 「メニューテキスト」にマウスオンした際のデザイン */
.g-navi ul li a:hover {
  color: #fff;
  background-color: #000;
  opacity: 0.3;
  /* opacity:透過度 */
}

/* メインビジュアル */
#main-visual {
  background-image: url(../image/mv.png);
  /* background-image:背景画像 */
  background-repeat: no-repeat;
  /* background-repeat:背景の繰り返し */
  background-size: cover;
  height: 100vh;
  max-height: 633px;
  /* max-height:最大縦幅 */
}

.mv-wrapper {
  position: relative;
}

.mv-right {
  position: absolute;
  top: 240px;
  /* top:上部からの配置位置 */
  right: 0;
  /* right:右側からの配置位置 */
  max-width: 100%;
}

.text {
  font-family: 'Prata', cursive;
  font-size: 1.625rem;
  letter-spacing: 4px;
  color: #fff;
  filter: drop-shadow(1px 1px 1px #fff);
  text-shadow: 0px 0px 1px #fff;
  text-align: center;
  /* text-align:テキストの位置設定 */
  margin-bottom: 80px;
  /* margin:外側の余白設定 */
}

.purchase-button {
  text-align: center;
}

.purchase-button a {
  display: inline-block;
  background-color: #f63001;
  color: #fff;
  padding: 15px 50px;
  font-size: 1.375rem;
}

.purchase-button a:hover {
  background-color: #fff;
  color: #f63001;
}

/* コンセプトエリア */
#concept {
  background-color: #f6e2c0;
  background-image: url(../image/back1.png), url(../image/back2.png);
  background-size: 22%, 22%;
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
  text-align: center;
}

.concept-copy {
  text-align: center;
}

.main-copy {
  font-size: 1.5rem;
  margin-bottom: 50px;
  font-weight: normal;
}

.concept-text {
  margin-bottom: 20px;
  line-height: 1.8;
}

/* こだわりエリア */
#feature {
  background-color: #f0ede4;
}

/* .feature-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
} */

.feature-box {
  max-width: 320px;
}

.feature-box:nth-of-type(2) {
  background-color: #fff0af;
}

.feature-text {
  padding: 20px 15px;
}

.feature-number {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Prata', cursive;
  color: #f63001;
}

.feature-title {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.feature-about {
  font-size: 1rem;
}

.feature-image {
  max-width: 100%;
}

/* 想いエリア */
#thought {
  background-color: #f63001;
}

#thought h2,
#thought .ja-title {
  color: #fff;
}

.thought-container {
  position: relative;
}

.staff-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #fff0af;
  padding: 2rem;
}

.staff-image {
  display: block;
  width: 48%;
}

.staff-text {
  width: 48%;
}

.staff-title {
  font-size: 1.375rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: normal;
}

.staff-about {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
}

.staff-name {
  text-align: right;
}

.slide-button {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 48px;
  height: 48px;
  border-top: 2px solid #c0c0c0;
  margin: auto;
  cursor: pointer;
  /* マウスオン時に表示されるカーソルの形 */
  z-index: 1;
  /* コンテンツの重ね順 1が後ろで9999が前 */
}

.prev {
  left: 10px;
  border-left: 2px solid #c0c0c0;
  transform: rotate(-45deg);
}

.next {
  right: 10px;
  border-right: 2px solid #c0c0c0;
  transform: rotate(45deg);
}

/* ライフエリア */
#cakelife {
  background: linear-gradient(#f7e3c0, #fff0af);
}

/* .life-wrapper {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
 } */

.life-type {
  text-align: center;
}

.life-img {
  width: 100%;
  margin-bottom: 5px;
}

.life-type a {
  display: block;
  padding: 10px;
  color: #333;
}

.life-type a:hover {
  color: #f63001;
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1);
}


/* ラインナップエリア */
.lineup-menu {
  margin-bottom: 3rem;
}

.lineup-menu ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 2px solid #f63001;
}

.lineup-menu ul li {
  width: 100%;
  text-align: center;
}

.lineup-menu ul li a {
  display: block;
  color: #333;
  background-color: #d1d1d1;
  border-radius: 30px 30px 0 0;
  padding: 0.5rem 0;
}

.lineup-menu ul li a:hover {
  color: #fff;
  background-color: #f63001;
}

.lineup-menu ul li.active a {
  color: #fff;
  background-color: #f63001;
}

/* .lineup-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
} */

.lineup-product {
  flex-basis: 31%;
}

.lineup-image {
  border-radius: 30px;
  border: 1px dashed #f63001;
  padding: 4rem 0;
  text-align: center;
  margin-bottom: 20px;
}

.name-en {
  font-size: 1.5rem;
  font-weight: bold;
}

.lineup-text {
  line-height: 1.8;
}

.more-lineup {
  text-align: center;
  margin-top: 60px;
}

.btn-more {
  display: inline-block;
  background-color: #f63001;
  color: #fff;
  border: #f63001 solid 1px;
  padding: 10px 100px;
  font-size: 1.375rem;
  letter-spacing: 3px;
}

.btn-more:hover {
  background-color: #fff;
  color: #f63001;
}


/* パッケージエリア */

#package {
  background: #f6e2c1;
}

.package-lineup {
  flex-basis: 31%;
}

.package-image {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.package-title {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.package-value {
  color: #f63001;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.package-select {
  width: 100%;
  margin-bottom: 10px;
}

.purchase-number {
  margin-bottom: 20px;
}

.number {
  width: 50px;
}

.select-cart {
  margin-bottom: 30px;
  height: 54px;
}

.select-cart a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #f63001;
  filter: drop-shadow(0px 4px 0px #c50000);
  font-size: 1.25rem;
  color: #fff;
  margin-bottom: 4px;
  transition: 0s;
}

.select-cart a:hover {
  filter: none;
  height: 54px;
  margin-bottom: 0;
  transition: 0s;
}

/* ストアエリア */
#store {
  background: #d1d1d1;
}

.map-image,
.cafe-text {
  flex-basis: 48%;
}

.store-name {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 30px;
}

address {
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.8;
}

.store-address {
  color: #624649;
}

/* お問い合わせエリア */
#contact {
  background: #f63001;
}

#contact h2,
#contact .ja-title {
  color: #fff;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

.ct-block {
  margin-bottom: 32px;
}

.contact-text {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.form-name,
.form-mail,
.cp-howto select {
  border: 1px solid #b1b1b1;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: #fff;
}

textarea {
  border: 1px solid #b1b1b1;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
}

.cp-howto {
  position: relative;
  /* 子要素で「▼」をつけるため、relativeを指定します */
  border: 1px solid #b1b1b1;
  background: #fff;
}

/*「▼」をつける部分になります */
.cp-howto::before {
  position: absolute;
  top: 14px;
  right: 10px;
  content: '';
  /* 「:before」「:after」の擬似要素でコンテンツを表示させる際はこちらをつけます */
  /* 「▼」を3つのボーダーで描きます */
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13px solid #666;
}

.cp-howto select {
  /* 不要な表示内容を全て非表示にします */
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 40px 10px 10px;
  /* 「▼」の分、内側に余白をつけます */
}

/* Internet Explorer用の記述です */
.cp-howto select::-ms-expand {
  display: none;
}

.send-button {
  display: block;
  background-color: #fff;
  font-size: 1.375rem;
  padding: 10px 120px;
  margin: 0 auto;
  color: #f63001;
  transition: 0.6s;
}

.send-button:hover {
  background-color: #f6e2c0;
  color: #f63001;
  transition: 0.6s;
}

/* フッターエリア */

footer {
  background: #3a3532;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-content a {
  color: #fff;
}

.footer-content a:hover {
  color: #624649;
}

.logo-wrapper {
  flex-grow: 2;
}

.menu {
  flex-grow: 1;
}

.logo {
  display: block;
  font-size: 3rem;
  font-family: 'Prata', cursive;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.sns-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mark {
  margin-right: 1rem;
}

.mark img{
  width: 30px;
}

.menu ul li {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

footer small {
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
